body{
    background-color: rgb(49, 48, 48);
    color: white;
}

.to-do-list {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 100px;

}

h1 {
    font-size: 4rem;
}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: #ffffff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.add-btn {
    background-color: rgb(145, 106, 199);

}

.add-btn:hover {
    background-color: rgb(72, 51, 101);
}

.delete-btn {
    background-color: rgb(212, 31, 31);
}

.delete-btn:hover {
    background-color: rgb(88, 4, 4);
}

.move-btn {
    background-color: rgb(198, 167, 148);
}

.move-btn:hover {
    background-color: rgb(91, 74, 64);
}

input[type="text"] {
    font-size:1.6rem ;
    padding: 10px;
    border: 2px solid rgb(145, 106, 199);
    border-radius: 5px;
    color: rgb(90, 86, 86);
}

ol{
    padding: 0;

}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: rgb(84, 82, 82);
    margin-bottom: 10px;
    border: 3px solid rgb(202, 198, 198) ;
    border-radius: 5px;
    display: flex;
    align-items: center;

}

.text {
    flex: 1 ;
}

.delete-btn,  .move-btn {
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}



